<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.power.mobile_health">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.Activity.WelcomeActivity"
            android:theme="@style/Theme_FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activity.LoginMainActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".UI.Activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme_ToolBar" />
        <activity
            android:name=".UI.Activity.RegisterActivity"
            android:label="@string/phone_register_login"
            android:theme="@style/AppTheme_ToolBar" />
        <activity
            android:name=".UI.Activity.MainActivity"
            android:theme="@style/AppTheme_ToolBar"/>
        <activity android:name=".UI.Activity.Drawer.PersonActivity"
            android:label="@string/person_title"
            android:theme="@style/AppTheme_ToolBar"/>
        <activity android:name=".UI.Activity.Drawer.HealthReporteActivity"
            android:label="@string/healthreporter"
            android:theme="@style/AppTheme_ToolBar"/>
        <activity android:name=".UI.Activity.Drawer.PrivateDoctorActivity"
            android:label="@string/privatedoctor"
            android:theme="@style/AppTheme_ToolBar"/>
        <activity android:name=".UI.Activity.Drawer.MyMessageActivity"
            android:label="@string/mymessage"
            android:theme="@style/AppTheme_ToolBar"/>
        <activity android:name=".UI.Activity.Drawer.MyMoneyActivity"
            android:label="@string/mymoney"
            android:theme="@style/AppTheme_ToolBar"/>
        <activity android:name=".UI.Activity.Drawer.AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppTheme_ToolBar"/>
        <activity android:name=".UI.Activity.Drawer.FeedBackActivity"
            android:label="@string/feedback"
            android:theme="@style/AppTheme_ToolBar"/>
    </application>

</manifest>